@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto:ital@1&family=Sarala&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    background-image: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    padding: 15px;
    height: 62px;
    width: 62px;
}

.navegacao {
    display: flex;
    gap: 50px;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

nav a {
    color: #FFF2E7
}

main {
    height: 1020px;
}

.meio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #ECD6C4;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 40px;    
}

.principal h1 {
    font-family: 'Righteous';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    color: #FFF2E7;
    
}

.principal h2 {
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.principal button {
    background-color: #ECD6C4;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    width: 185px;
    height: 67px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}


