@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto:ital@1&family=Sarala&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    background-image: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    padding: 15px;
    height: 62px;
    width: 62px;
}

.navegacao {
    display: flex;
    gap: 50px;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

nav a {
    color: #FFF2E7
}

nav a:hover {
    transition: 0.5s;
    color: #f0a39173;
}

main {
    
}

.meio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #ECD6C4;
    flex-wrap: wrap; 
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 40px;  
}

.principal h1 {
    font-family: 'Righteous';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    color: #FFF2E7;
    
}

.principal h2 {
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.principal button {
    background-color: #ECD6C4;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    width: 185px;
    height: 67px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.principal button:hover {
    cursor: pointer;
    background-color: #8E5D52;
    color: #FFF2E7;
    transition: 0.5s;
}

.abaixo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #FFF2E7;
}

.abaixo h3 {
    border-top: 1px solid #ECD6C4;
    padding-top: 50px;
    margin-top: 50px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.abaixo p {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

footer {
    padding: 50px;
    margin-top: 68px;
    border-top: 1px solid #ECD6C4;
}

footer img {
    display: flex;
    margin: 0 auto;
}